
body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

:root {
  --annotation-color: #E8336D;
}

.annotation path {
  stroke: var(--annotation-color);
  stroke-width: 3px;
}

.annotation text {
  fill: var(--annotation-color);
  font-size: 25px;
}

// DONT PUT ANY STYLES Here
// THEY WILL BE IGNORED IN THE FINAL PRINT GRAPHIC
